<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style3.css">
    
    <title>Home Page</title>
</head>
<body>
    <header>
        <span>Watch Aid</span>
         <a href="/logout"><button id="logout">Logout</button></a>
    </header>

    <div id="btns">
        <div id="top-btn">
            <div class="viewMap"><a href="/map-view"><button>View Map</button></a></div>
            <div class="viewData"><a href="/donation-view"><button>View Donations</button></a></div>
        </div>
        <div id="bottom-btn">
            <div class="reports"><a href="/report2"><button>Reports</button></a></div>
            <div class="addRecepients"><a href="/recepient"><button>Add Recepients</button></a></div>
        </div>
        <div id="last-btn">
            <div class="qr"><a href="/qr"><button>Scan QR Code</button></a></div>
            <div class="logs"><a href="/logs"><button>Logs</button></a></div>
        </div>
    </div>

    <footer>
        <div class="footer"><span># Let Us Stand Together And End World Hunger</span></div>
    </footer>
</body>
</html>