<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style3.css">
    <title>Document</title>
</head>
<body>
    <header>
        <span>Watch Aid</span>
         <a href="/logout"><button id="logout">Logout</button></a>
    </header>

    <div id="btns">
        <div id="top-btn">
            <div class="viewDono"><a href="/recepients-view"><button>View Recepients</button></a></div>
            <div class="viewData"><a href="/donation-view"><button>View Donations</button></a></div>
        </div>
    </div>
    <footer>
        <div class="footer"><span># Let Us Stand Together And End World Hunger</span></div>
    </footer>
</body>
</html>