<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
    
    <style>
        #issmap{
            height: 400px;
            width: 800px;
            align-items: center;
        }
        #mapsize{
            padding-left: 225px;
            padding-top: 2%;
        }
        .logout{
          float: right;
        }
        .logout button{
          height: 30px;
      width: 80px;
      color: white;
      background-color: black;
      border-radius: 8px;
      font-weight: bolder;
        }
    </style>
    <title>Document</title>
</head>
<body>
  <a href="/logout" class="logout"><button>Logout</button></a>
  <h1 style="text-align: center; color:green; text-decoration:underline">WELCOME TO THE DRIVER'S MAP PAGE</h1>
  
  <p style="text-align: center; font-style: italic; font-weight: bold; color: grey;">Welcome to your map's page kindly allow map to access your location to enable tracking.</p>
    <p id="mapholder"> </p>
    <div id="mapsize">
      <div id="issmap"></div>
  </div>
    <p id="demo" style="text-align: center; font-weight: bold; "></p>
<a href=""></a>
<script>
        const mymap = L.map('issmap').setView([0, 0], 3);

        var marker = L.marker([0, 0]).addTo(mymap);


        const attribution = '&copy; <a href="https://www.openstreetmap.org/fixthemap">Open Street map</a>'
        const tileUrl = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png'
        const tiles = L.tileLayer(tileUrl,{attribution});
        tiles.addTo(mymap)
         setInterval(() => {
          getLocation()
         }, 2000);
        
        const x = document.getElementById("demo");
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        function showPosition(position) {
          
          
          x.innerHTML = "Current Latitude: " + position.coords.latitude +
          "<br>Current Longitude: " + position.coords.longitude;

          var lat = position.coords.latitude;
          var lon = position.coords.longitude;

         

        //console.log(lat,lon)
        marker.setLatLng([lat,lon])
        } 
</script>
</body>
</html>