<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include the library -->
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <title>Document</title> 
</head>
<body>
    <h1 style="color: green;text-align:center;text-decoration:underline">SCAN YOU QR CODE</h1>
    <div style="padding-left: 325px; padding-top: 5%;">
        <div id="qr-reader" style="width: 600px;"></div>
    </div>

    <p style="text-align: center;font-weight:bold">Order No: <span id="message" name="message"></span></p>
    <script>

        var message = ''
        
        function onScanSuccess(decodedText, decodedResult) {
          message += decodedText 
          console.log(message)
          document.getElementById("message").innerHTML = message;
    console.log(`Code scanned = ${decodedText}`, decodedResult);
}
var html5QrcodeScanner = new Html5QrcodeScanner(
	"qr-reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess);
    </script>
</body>
</html>